/* Posters section */
.poster-container {
    width: 100%;
    display: flex;

    & div {
        margin-top: 450px;
        padding: 40px;
        transition: all var(--transitions-time-2);

        &::before {
            content: "";
            position: absolute;
            width: 50px;
            height: 2px;
            margin-top: -20px;
            background-color: var(--color-red);
        }
    }



    .poster {
        width: 25%;
        height: 657px;
        background-image: linear-gradient(to top,
                #212121 20%,
                transparent 100%), url(/assets/images/poster_inferno.webp);
        background-size: cover;
        background-position: center;

        &:hover div {
            margin-top: 335px;
        }

        &:nth-child(2) {
            background-image: linear-gradient(to top,
                    #212121 20%,
                    transparent 100%), url(/assets/images/poster_bandofbrothers.webp);
            background-size: cover;
            background-position: center;
        }

        &:nth-child(3) {
            background-image: linear-gradient(to top,
                    #212121 20%,
                    transparent 100%), url(/assets/images/poster_gladiator.webp);
            background-size: cover;
            background-position: center;
        }

        &:nth-last-child(1) {
            background-image: linear-gradient(to top,
                    #212121 20%,
                    transparent 100%), url(/assets/images/poster_spiderman.webp);
            background-size: cover;
            background-position: center;
        }

        .poster-film-title {
            font-family: var(--font-primary);
            font-size: var(--font-size-25);
            font-weight: bold;
            letter-spacing: 0.3px;
            text-decoration: none;
            color: var(--color-white);
        }

        & h2 {
            font-family: var(--font-secondary);
            font-size: var(--font-size-4);
            text-decoration: none;
            text-transform: capitalize;
            margin-top: -12px;
            color: var(--color-grey);
        }

        & button {
            font-family: var(--font-primary);
            font-size: var(--font-size-2);
            font-weight: bold;
            letter-spacing: 0.3px;
            --hover-shadows: 16px 16px 33px #121212,
                -16px -16px 33px #303030;
            --accent: var(--color-red);
            width: fit-content;
            margin-top: 60px;
            padding: 1em 2em;
            border: none;
            border-radius: 1.1em;
            outline: none;
            cursor: pointer;
            border-color: var(--color-red);
            background-color: #212121;
            color: var(--color-white);
            transition: box-shadow ease-in-out 0.3s,
                background-color ease-in-out 0.1s,
                transform ease-in-out 0.1s;
            box-shadow: 13px 13px 10px #1c1c1c,
                -13px -13px 10px #262626;
            transition: all var(--transitions-time-2);
            opacity: 0;

            &:active {
                box-shadow: var(--hover-shadows),
                    var(--accent) 0px 0px 30px 5px;
                background-color: var(--accent);
                transform: scale(0.95);
            }

            &:hover {
                box-shadow: var(--hover-shadows);
            }
        }

        &:hover button {
            opacity: 1;
        }

        .more-information-link {
            font-family: var(--font-primary);
            font-size: var(--font-size-2);
            font-weight: bold;
            letter-spacing: 0.3px;
            text-decoration: none;
            color: var(--color-white);
            margin-left: 20px;
            transition: all var(--transitions-time-2);
            opacity: 0;

            &:hover {
                text-shadow: 0px 0px 30px var(--color-red);

                &::before {
                    content: "";
                    position: absolute;
                    width: 144px;
                    height: 1px;
                    margin-top: 90px;
                    box-shadow: 0 0 30px var(--color-red);
                    transition: all var(--transitions-time-1);
                    background-color: var(--color-red);
                }
            }
        }

        &:hover .more-information-link {
            opacity: 1;
        }
    }
}